<div class="container">
  <mat-card>
    <!-- <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
    </p> -->
    <mat-card-content>
      <mat-card-title translate>Dash Example</mat-card-title>
      
      <app-dashboard [widgets]="widgets"></app-dashboard>

      <hr>

      <h3>WidgetLess Visualization</h3>

      <app-filterable-bar [visConfig]="freeConfig"> </app-filterable-bar>

      <div>
        
      </div>


    </mat-card-content>
  </mat-card>
</div>
